@import "tailwindcss";

:root {
	/* Background */
	--background: #ffffff;

	/*  Colors */
	--primary: rgb(230, 0, 18);

	/* Text  */
	--foreground: #ffffff;
}

@layer base {
	/* Smooth scrolling for better UX (IMO) */
	html {
		scroll-behavior: smooth;
	}
}
